body {
  background-color: #3f91c7;
  font-family: Lato, sans-serif;
  color: white;
}
#container {
  width: 800px;
  margin: 0 auto;
}
.row {
  display: flex;
  justify-content: space-evenly ;
  align-items: center;
}

.column-full {
  width: 100%;
}
.column-one-third {
  flex-basis: calc(100%/3);
  padding: 10px;
}
.column-one-third img {

}

img.circle {
  background-color: white;
  border-radius: 50%;
  height: 175px;
  width: 175px;
  margin: auto;
  display: block;
  padding:10px
}
h2, h3, p {
  text-align: center;
  font-weight: normal;
}
h2 {
  font-size: 28px;
}

h3 {
  font-size: 18px;

}
