.pokemon {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

.pokemon > img {
  width: 150px;

  /* your code here */
}

#bulbasaur {
  position: relative;
}

#charmander {
  position: relative;
  top:40px;
}

#squirtle {
  position: relative;
  top:75px;
}

#pikachu {
  position: relative;
  top:160px;
}

#jigglypuff {
  position: relative;
  top:300px;
}
