* {
  font-family: Karla;
}
h1 {
  text-transform: uppercase;
  font-size: 48px;

}
h3 {
  text-transform: uppercase;
  font-size: 16px;
}
p {
  font: size 14px;
  color:#585858;
  line-height: 1.5rem;
}
heading {
  text-align: center;
}
#container {
  width:80%;
  margin: 0 auto;
}

.col {
  display: flex;
  justify-content: space-between;
}

.block {
  display: flex;
  flex-basis: 50%;
  margin:0 50px;

}

.block h3 {
  padding-top:25px;
}
#learn-more {
  margin-top:50px;
}
button {
  background-color: white;
  color:#ca7b72;
  border: solid 2px #ca7b72;
  padding: 10px 50px;
  text-transform:uppercase;
  margin: 0 auto;
  font-size: 16px;
  font-weight: bold;
}

button:hover {
  background-color: #ca7b72;
  color:white;
}
